<!DOCTYPE html>
<html>
    <head>
        <title>News Story: Get Story</title>
    </head>

    <p>Hello: <%= name %> </p>

    <body>
        <h1>News Story Get Results:</h1>
        <p>Filter Type: <%= filterType%></p>
        <p>Filter Value: <%= filterValue%></p>
        <!--Loop through the result object-->
        <ul>
            <% for (var i = 0; i < result.length; i++) { %>
                <li>Title: <%= result[i].TITLE %></li>
                <li>Author: <%= result[i].AUTHOR %></li>
                <li>Date: <%= result[i].DATE %></li>
                <li>Public: <%= result[i].PUBLIC %></li>
                <li>Content: <%= result[i].CONTENT %></li>
                <br><br>
            <% } %>
        <a href="/">Return Home</a>
    </body>
</html>