<!DOCTYPE html>
<html>

<head>
    <title>News Story Service: View Story</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<!--Link the login page if the user is not signed in, if the user is signed in, display their name and role-->

<body>
    <h1>News Story Service: View Story</h1>
    <%if (userName == undefined) {%>
    <a href="/login">Login</a>
    <% } else {%>
    <p>Welcome, <%= userName %>!</p>
    <p>Your role is: <%= role %></p>
    <a href="/logoutUser">Logout</a>
    <%}%>

    <br><br><br>
    <!-- Display the given story-->

    <% for (var i = 0; i < newsStories.length; i++) {%>
    <h2><%= newsStories[i].TITLE %></h2>
    <p>Date: <%= newsStories[i].DATE %></p>
    <p>Author: <%= newsStories[i].AUTHOR %></p>
    <p>Public Article: <%= newsStories[i].PUBLIC %></p>
    <br>
    <p>Content: <%= newsStories[i].CONTENT %></p>
    <% } %> 

    <br><br>

    <a href="/">Return Home</a>

</body>
</html>
